@import "../css/header/header.css";
@import "../css/main/services.css";
@import "../css/main/items.css";
@import "../css/main/team-section.css";
@import "../css/main/team-shadow.css";
@import "../css/footer/footerst.css";


body{
    overflow-x: hidden;
}

.container{
    width: 1201px;
    margin: 0 auto;
}
.socicon-size{
    width: 26px;
    height: 26px;
}

ul{
    list-style-type: none;
}