.team{
    margin: 0px auto;
    padding-bottom: 60px;
}
.team__slogan{
margin: 0px;
font: 24px/1.2 "Kaushan script", sans-serif;
font-weight: normal;
color: #333333;
text-align: center;
}
.team__title{
    font: 30px/1.2 "Montserrat", sans-serif;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 100px;
    position: relative;
    text-align: center;
}
.team__title::after{
    position: absolute;
    top: 73px;
    left: 570px;
    display: block;
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f38181;
}
.team__info{
    font: 15px/24px "roboto", sans-serif;
    font-weight: normal;
    color: #333333;
    margin: 0px auto 70px;
    text-align: center;
}
.team__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
            margin: 0 auto;
    margin: 0px;
    padding: 0px;
}
.team__member{
    width: 380px;
}
.member__photo--hover{
    position: relative; 
    margin-bottom: 28px;   
}
.member__name{
    font: 14px/1.2 "Montserrat", sans-serif;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
}
.member__position{
    font: 15px/24px "Roboto", sans-serif;
    font-weight: normal;
    font-style: italic;
    color: #999999;
    text-align: center;
}