html {
    box-sizing: border-box;
}
body{
    margin: 0;
}
.sizes{
    width: 904px;
    margin: 0px auto;
}
ul.navigation{
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
}
nav{
    margin-top: 65px;
}
.navigation li {
    box-sizing: border-box;
    display: inline-block;
    text-transform: uppercase;
    margin-left: 0px;
    margin-right: 102px;
    text-shadow: 1px color="#c0c0c0";
    }
.navigation li:last-child{
    margin-right: 0px;
}
a {
    text-decoration: none;
    color: #626262;
}
a:hover {
    color: #03a9f4;
    text-shadow: 1px color="#abd9fa";
}
article {  
    box-sizing: border-box;
    block-size: auto;
    height: 480px;
    display: inline-block;
    margin-top: 92px;
    margin-right: 60px;
    text-align: left;
}
article.even-item{
    margin-right: 0px;
}
h2 {
    margin: 0;
    font-size: 30px;
    line-height: 1.2;
    color: #626262;
}
p.title{
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #b4ad9e;
}
p{
    margin-top: 29px;
    font-size: 14px;
    width: 420px;
    color: #626262;
    line-height: 1.5;
}

img{
    max-width: 100%;
    height: auto;
}
button{
    max-width: 162px;
    height: 62px;
    margin: 52px 371px;
    padding: 18px 39px 18px 33px;
    border: #626262 solid 1px;
    font-family: "PlayfairDisplay";
    font-size: 20px;
    line-height: 1.2;
}